:root {
    --primary-color: #2C3531;
    --secondary-color: #116466;
    --tertiary-color: #D9B08C;
    --forth-color: #FFCB9A;
    --fifth-color: #D1E8E2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--primary-color);
}
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    background-color: var(--secondary-color);
}
.hero {
    background-image: url(../images/MilkyWayGalaxy.jpg);
    background-size: cover;
    background-position: center;
    height: 405px;
    display: flex;
}

.custom-hero-bg {
    background-color: var(--secondary-color);
    color: var(--forth-color);
}
.custom-header-text {
    color: var(--tertiary-color);
    font-family: 'Times New Roman', Times, serif;
}
.btn-custom {
    background-color: var(--primary-color);
    color: var(--fifth-color);
}
.btn-padding {
    padding-left: 100px;
    padding-right: 100px;
}
.input-custom {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 150px;
    padding-left: 150px;
    background-color: var(--primary-color);
    color: var(--fifth-color);
}
.card-custom-header {
    background-color: var(--secondary-color);
}
.card-custom {
    width: 35%;
    margin: 20px;
    margin-left: 70px;
    opacity: 90%;
}
.custom-card-body-hero {
    background-color: var(--primary-color);
    color: var(--fifth-color);
}
#custom-card-title {
    color: var(--forth-color);
}

#article-card-title {
    color: var(--forth-color);
}

.custom-content-bg {
    background-color: var(--primary-color);
}
img {
    height: 490px;
    width: 490px;
    border: 5px solid #116466;
}
.custom-card-body-main {
    background-color: var(--tertiary-color);
    color: black;
}
.container-height {
    height: 600px;
}
.card-body-height {
    height: 430px;
}
.content-margins {
    margin-top: 50px;
}

#video {
    display:flex;
    justify-content: center;
    height: 500px;
}

#searchVideo {
    /* margin: auto; */
    width: 70%;
    height: 85%;
}


@media screen and (max-width: 1360px) {
.custom-header-text {
    text-align: center;
    width: 100%;
}
.btn-padding {
    padding-left: 200px;
    padding-right: 200px;
}
}
@media screen and (max-width: 1200px) {
    .custom-card-body-main {
        height:498px;
        width: 700px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .content-small-margins {
        display: flex;
    }
    img {
        height:700px;
        width:700px;
        margin: auto;
    }
    .container-height {
        height: 1348px;
    }
}
@media screen and (max-width: 1140px) {
    .input-custom {
        width: 80%;
    }
    .btn-padding {
        width: 100%;
        margin-bottom: 5px;
    }
    .form-items {
        width: 100%;
    }
    .input-custom {
        padding-right: 0px;
        padding-left: 0px;
        width: 90%;
    }
    #search {
        padding-left: 0px;
        padding-right: 0px;
        width: 9%;
    }
}
@media screen and (max-width: 800px) {
    .btn-padding {
        padding: 0px;
    }
    .card-custom {
        width: 50%;
    }
    img {
        height:500px;
        width:500px;
    }
    .custom-card-body-main {
        height:500px;
        width: 500px;
    }
    .container-height {
        height: 1150px;
    }
}
@media screen and (max-width: 600px) {
    .card-custom {
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;
    }
    img {
        height:400px;
        width:400px;
    }
    .custom-card-body-main {
        height:625px;
        width: 400px;
    }
    .container-height {
        height: 1175px;
    }
}
@media screen and (max-width: 500px) {
    .input-custom {
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
    }
    #search {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        margin-top: 5px;
    }
}
@media screen and (max-width: 450px) {
    img {
        height:300px;
        width:300px;
    }
    .custom-card-body-main {
        height:835px;
        width: 300px;
    }
    .container-height {
        height: 1285px;
    }
}
@media screen and (max-width: 350px) {
    img {
        height:250px;
        width:250px;
    }
    .custom-card-body-main {
        height:1000px;
        width: 250px;
    }
    .container-height {
        height: 1400px;
    }
}
